@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Sacramento&family=Stick+No+Bills:wght@700&display=swap');

body {
    margin:0;
    background-size: cover;
    background-color: aliceblue;
   
}

.toDo-container{
    background-color: rgb(26, 26, 24);
    height: 500px;
    width: 500px;
    font-family: 'Stick No Bills', sans-serif;
    border-radius: 30px;
    border-style:solid;
    border-color: pink;
    color: rgb(114, 195, 191);
    
}


#display{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}


.form-container{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.mytext-container{
    color:rgb(226, 195, 69);
    font-family: 'Sacramento', cursive;
    /* background-color: red; */
    height: auto;
    width: 50px;
    position: relative; top:30px; left:65px;

}

.toDoBox span {
    color: rgb(255, 103, 171)
}


#note{
    color: white;
}

#addBtn{
background-color: rgb(226, 195, 69);
color: white;
border-radius: 10px;
border-color: aliceblue;
width:200px;

}

#toDoList button {
color: rgb(255, 103, 171);
border:none;
margin: 5px;
border-radius: 5px;
}

#toDoList input {
    color: white;
    border: 0;
    text-decoration-color: antiquewhite;
}

